<form id="toolbar">
  <h1>Create more areas</h1>
  <ul>
    <li id="name"><label for="name">Name</label><input type="text" id="name" name="name" placeholder="Name" /></li>
    <li><label for="food_kind">Food</label>
    <select name="food_kind" id="food_kind">
      <option name=""></option>
      <option name="Pizza">Pizza</option>
      <option name="China">China</option>
      <option name="Española">Española</option>
      <option name="Bocadillos">Bocadillos</option>
    </select>
    </li>
    <li class="center"><input type="submit" id="submit" name="submit" value="Create delivery area" /></li>
  </ul>
</form>

<div id="map"></div>