<!DOCTYPE html>
<html>
<head>
  <title>Mapbrd.me</title>
  <%= stylesheet_link_tag "layout" %>
  <%= csrf_meta_tag %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAA2dGGwUtqmEYcoUWNGBBPlRT0Bx_6ik34-yUAmNZgH5SYehvaLRSX2v2dajMa8woypOtayc0JWSDckA&sensor=false" type="text/javascript"></script>
  <%= javascript_include_tag "application.js" %>
</head>
<body>

<%= yield %>

</body>
</html>
